@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
li {
  list-style: none;
}
body {
  background-color: #fff;
  color: #222;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
nav {
  border-bottom: 1px solid #e5e5e5;
  padding: 1rem 5rem;
  font-weight: 600;
  font-size: 1.4rem;
}
.container {
  margin: 3rem 5rem;
  display: flex;
  flex-direction: row;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 4rem;
  width: 15%;
}

.content {
  flex: 1;
}
.greeting {
  font-size: 1.2rem;
  font-weight: 600;
}
.tabs {
  display: flex;

  margin-top: 1.2rem;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  justify-content: space-between;
}

.tab-group {
  display: flex;
  gap: 7vw;
}
.tab {
  background: none;
  border: none;
  font-size: 0.95rem;
  cursor: pointer;
  padding-bottom: 0.4rem;
  color: #888;
  position: relative;
}
.tab.active {
  color: #333;
  font-weight: 600;
}
.tab.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 4px;
  background-color: #c5a7ff;
  border-radius: 5px;
}
.create-task {
  padding-bottom: 0.4rem;
  justify-content: flex-end;
}
.create-task-button {
  background-color: #f0f0f5;
  color: #000;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.task-headers {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px;
}

.list-all {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.tasks-all-item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem 1rem;
  background-color: #f0f0f5;
  border-radius: 10px;
  margin-bottom: 5px;
}

.list-pending {
  display: none;
}
