@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #fff;
  color: #222;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  border-bottom: 1px solid #e5e5e5;
  padding: 1rem 5rem;
  font-weight: 600;
  font-size: 1.4vw;
}
.container {
  margin: 3rem 5rem;
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.greeting {
  font-size: 1.2vw;
  font-weight: 600;
}

.tabs {
  display: flex;
  gap: 5rem;
  margin-top: 1.2rem;
  border-bottom: 1px solid #e5e5e5;
}

.tab {
  background: none;
  border: none;
  font-size: 0.95rem;
  cursor: pointer;
  padding-bottom: 0.6rem;
  color: #888;
  position: relative;
}

.tab.active {
  color: #333;
  font-weight: 600;
}

.tab.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 4px;
  background-color: #c5a7ff;
  border-radius: 5px;
}
